﻿@using System.Collections
@using System.Security.Policy
@using System.Web.SessionState
@using ClientDependency.Core.Mvc
@using Microsoft.CodeAnalysis
@using Microsoft.IO
@using umbraco.BusinessLogic
@using umbraco.cms.presentation
@using umbraco.editorControls.SettingControls
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}




@* the fun starts here *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mayflower 400</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

    <!-- CSS -->

    <link href="~/css/day-picker.css" rel="stylesheet" />
    <link href="~/css/mayflower_gbl.css" rel="stylesheet" />

    <!-- SCRIPT -->

    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCeCL5ewtIjZGwhtXOfSG-0znuKy4PiEDY&sensor=false"></script>
    <script src="~/scripts/mayflower_gbl.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- MISC -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    @{
        Html.RenderPartial("Partials/_header");
       
    }


</head>

<body class="loggedOut">

    <div id="pageWrapper">
     

    <section class="banner miniHero">

        <div class="slide" style="background-image: url('https://source.unsplash.com/category/buildings/2000x700')">
        </div>
        <div class="slide" style="background-image: url('https://source.unsplash.com/category/nature/2000x700')">
        </div>
        <div class="slide" style="background-image: url('https://source.unsplash.com/category/nature/2000x700')">
        </div>
        <div class="slide" style="background-image: url('https://source.unsplash.com/category/nature/2000x700')">
        </div>
        <div class="slide" style="background-image: url('https://source.unsplash.com/category/nature/2000x700')">
        </div>
        <div class="slide" style="background-image: url('https://source.unsplash.com/category/nature/2000x700')">
        </div>

        <div class="pageCaption">
            <div class="captionTop">
                <p>Plymouth UK Thanksgiving 2017</p>
            </div>
        </div>

    </section>
    
    <section class="pageContent" id="pageIntro">

        <div class="breadcrumbs">
            <div class="inner">
                <ul>
                    <li><a href="#">Home</a></li>
                    @if (CurrentPage.Name != "Home")
                    {
                        <li>@CurrentPage.Name</li>
                    }

                </ul>
            </div>
        </div>

        <div class="inner">
            <header>
                <h1 class="contentHeader">@Umbraco.Field("pageTitle")</h1>
                    
                <p class="largeIntro">
                    @Umbraco.Field("pageDescription")
                </p>
            </header>
        </div>
    </section>
        
    @RenderBody()

 
         @{
        Html.RenderPartial("Partials/_footer");
       
    }

        <div class="popup loginPopup">

            <div class="loginForm">
                <div class="col">
                    <h5>Log In</h5>

                    <form action="#">
                        <label>Email *</label>
                        <input type="email" name="email">
                        <label>Password</label>
                        <input type="password" name="password">
                        <button>Log In</button>
                        <p class="forgotten">Forgotten Password?</p>
                    </form>
                </div>

                <div class="col">
                    <h5>Register</h5>

                    <form action="#">
                        <label>Name *</label>
                        <input type="text" name="name">
                        <label>Email *</label>
                        <input type="email" name="email">
                        <label>Password</label>
                        <input type="password" name="password">
                        <label>Company *</label>
                        <input type="text" name="company">
                        <label>How will you use the images? *</label>
                        <textarea></textarea>
                        <label><input type="checkbox" name="newsletter">Please keep me updated about Mayflower 400</label>
                        <button>Log In</button>
                    </form>
                </div>
            </div>

        </div>

