﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Visit>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

 
    
    @{
        var selection = Umbraco.TypedContent(1066).Children("tour")
            .Where(x => x.IsVisible());
    }
    

    <section class="tours pageContent contentSection lightgray">
        <div class="inner">
            <div class="heading">
                <h2>Book a Tour</h2>
                @{
                    var tourProvidedSelection = Umbraco.TypedContent(1124).Children("tourProvider")
                                        .Where(x => x.IsVisible());
                }
                <select name="tourDropdown">
                    @foreach (var item in tourProvidedSelection)
                    {
                        <option value="">@item.Name</option>
                    }
                </select>
            </div>


            <!-- Filter by Tour Provider 
                    - Tried to get property value of the drop down list and get all tours with provider name equal to drop down list value
                -->
            
            @{

                //var searchQuery = Request.QueryString["tourDropdown"];

                //var tourChoices = Umbraco.TypedContent(1066).Children("tour")
                //            .Where(x => x.IsVisible())
                //            .Where(x => x.GetPropertyValue<string>("tourProvider") == searchQuery);
                //            .Where(x => Umbraco.GetPreValueAsString(Model.Content.GetPropertyValue<int>("tourProvider")) == searchQuery);
            }


            <!-------------------->


            <ul class="blocks">

                @foreach (var item in selection)
                {

                    <li class="block">
                        <article>
                            <div class="wrapper">
                                <div class="summary">
                                    <div class="image" style="background-image: url(@(item.GetPropertyValue<IPublishedContent>("tourPhoto").Url))"></div>
                                    <h3>@(item.GetPropertyValue<string>("tourName"))</h3>
                                    <p>
                                        @(item.GetPropertyValue<string>("tourDescription"))

                                    </p>
                                </div>
                                <div class="more">
                                    @foreach (var information in item.GetPropertyValue<IEnumerable<string>>("tourMoreInformation").Where(x => !string.IsNullOrEmpty(x)))
                                    {
                                        <ul>
                                            <li>@information</li>
                                        </ul>

                                    }
                                </div>
                                @if (item.GetPropertyValue<IEnumerable<string>>("tourMoreInformation").Any(x => !string.IsNullOrEmpty(x)))
                                {
                                    <div class="expand">More info</div>
                                }

                                <a href="#">Visit Site</a>
                            </div>
                        </article>
                    </li>
                }
            </ul>
        </div>
        </section>