﻿
<?php include('partials/_loginPopup.php'); ?>

<!-- <footer class="gblFooter sectionBg darkSection">
	<div class="inner">
		
		<div class="footerLogo">
			<img src="images/footerLogo.png" alt="Mayflower 400">
		</div>

		<div class="fWidget large">
			<h6>Mayflower Destinations</h6>

			<ul class="splitList">
				<li><a href="#">Scrooby & Babworth</a></li>
				<li><a href="#">Doncaster</a></li>
				<li><a href="#">Gainsborough</a></li>
				<li><a href="#">Boston</a></li>
				<li><a href="#">Leiden</a></li>
				<li><a href="#">Harwich</a></li>
				<li><a href="#">Scrooby & Babworth</a></li>
				<li><a href="#">Doncaster</a></li>
				<li><a href="#">Gainsborough</a></li>
				<li><a href="#">Boston</a></li>
				<li><a href="#">Leiden</a></li>
				<li><a href="#">Harwich</a></li>
			</ul>
		</div>

		<div class="fWidget">
			<ul class="largeList">
				<li><a href="#">Events</a></li>
				<li><a href="#">Travel Trade</a></li>
				<li><a href="#">Education</a></li>
				<li><a href="#">About</a></li>
			</ul>

			<ul class="socialLynx horiz">
				<li class="facebook"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
				<li class="youtube"><a href="#"></a></li>
			</ul>
		</div>

	</div>
</footer> -->

<div class="footerBottom">
	<div class="inner">
		<div class="pullCenter">
			<img src="images/footerLogos.jpg" alt="Footer logos">
		</div>
		<div class="pullCenter">
			<ul>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Cookie Policy</a></li>
				<li><a href="#">Accessibility</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms and Conditions</a></li>
				<li><a href="#">Advertise with Us</a></li>
				<li><a href="http://www.radiatordigital.com/" class="r4d">Site by <strong>RADIATOR</strong></a>
			</ul>
		</div>
	</div>
</div>

<script>
	var locations = [["Boston Guildhall",52.975921,-0.022778,"attractions",1],["Pilgrim Memorial",52.958836,0.025351,"attractions",2],["St. Botolph's Church",52.977755,-0.024986,"attractions",3],["Fydell House",52.975831,-0.02281,"attractions",4],["RSBP Frampton Marsh",52.942079,0.002622,"attractions",5],["Boston Markets",52.978168,-0.023922,"attractions",6],["Medieval Lanes ",52.977749,-0.022664,"attractions",7],["Maud Foster Windmill ",52.983854,-0.017631,"attractions",8],["Elms Farm Cottages, Boston",52.975672,-0.106359,"accommodation",9],["The White Hart Hotel, Boston",52.976366,-0.0242,"accommodation",10],["Boston West Hotel ",52.976054,-0.115726,"accommodation",11],["Long Acres Touring Park, Boston",53.055413,0.067216,"accommodation",12],["Petwood Hotel, Woodhall Spa",53.157513,-0.221312,"accommodation",13],["Supreme Inns, Boston",52.930434,-0.158044,"accommodation",14]];
</script>

<!--<script>
	var locations = [['Austerfield', 53.445729, -1.005042, 'yellow', 1],['Scrooby & Babworth', 53.409166, -1.020648, 'yellow', 2],['Gainsborough', 53.400575, -0.774465, 'yellow', 3],['Boston', 52.97894, -0.026577, 'yellow', 4],['Immingham', 53.615809, -0.21249, 'yellow', 5],['Worcestershire', 52.261591, -2.152636, 'yellow', 6],['Leiden, Holland', 52.160114, 4.49701, 'pink', 7],['Harwich', 51.934731, 1.260297, 'yellow', 8],['Rotherhithe', 51.501967, -0.05321, 'pink', 9],['Southampton', 50.868378, -1.35025, 'white', 10],['Dartmouth', 50.35273, -3.581667, 'yellow', 11],['Plymouth', 50.365996, -4.134069, 'white', 12],['Plymouth, USA', 41.958446, -70.66726, 'white', 13]];
</script>-->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58d00bc7182f2521"></script> 
<!-- <script type="text/javascript" src="scripts/mayflower_images.js"></script>  -->
<script type="text/javascript" src="scripts/mayflower_dataBlocks.js"></script> 
<script type="text/javascript" src="scripts/mayflower_events.js"></script>
<script type="text/javascript" src="scripts/mayflower_news.js"></script>
<script type="text/javascript" src="scripts/mayflower_search.js"></script>

<?php include('partials/_foot.php'); ?>