﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mayflower 400</title>
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

		<!-- CSS -->
		<link rel="stylesheet" href="css/day-picker.css">
		<link rel="stylesheet" href="css/mayflower_gbl.css">
		
		<!-- SCRIPT -->
		<script src="js/jquery.min.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCeCL5ewtIjZGwhtXOfSG-0znuKy4PiEDY&sensor=false"></script>
		<script type="text/javascript" src="scripts/mayflower_gbl.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- MISC -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">		
		
	</head>

<body class="loggedOut">

<div id="pageWrapper">