﻿@using System.Collections
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<header class="gblHeader homeHeader">
    <div class="inner">

        <a href="index.php" class="homeRoad">
            <img src="images/logo-black.png" alt="" class="logo">
            <img src="images/logoTrans.png" alt="" class="transLogo">
        </a>

        <div class="headRight">

            <div class="topNav">
                <ul>
                    <li><a href="#ctaBanner">Subscribe to our newsletter</a></li>
                    <li class="searchToggle">Search</li>
                    <li class="countrySelect">
                        <a href="#" class="uk countrySelector"></a>
                        <a href="#" class="us countrySelector"></a>
                        <a href="#" class="nl countrySelector"></a>
                    </li>
                </ul>

                <form action="#" class="searchForm headerSearch">
                    <input type="text" name="search">
                    <div class="searchSubmit"><button></button></div>
                </form>

            </div>
            
            
            @{
                IPublishedContent homepage = Umbraco.AssignedContentItem.AncestorOrSelf("home");
                IEnumerable<IPublishedContent> navigationPages = homepage.Children(x => x.IsVisible());
                                      
            }
            


            <nav id="mainNav">
                <ul>
                    <li><a href="/">Home</a></li>
                    
                    @if (navigationPages != null && navigationPages.Count() > 0)
                    {
                        foreach (IPublishedContent page in navigationPages)
                        {
                            if (page.Name == "Visit")
                            {
                                var selection = Umbraco.TypedContent(1066).Children("tour")
						.Where(x => x.IsVisible());
                                                                     
     
                                <li><a href="/Visit"></a>@page.Name
                                    <div class="subNav">
                                        <div class="navInner">
                                            <ul>
                                                              
                                                @foreach (var selectedTour in selection)
                                                {
                                                    <li><a href="/Visit">@selectedTour.Name</a></li>
                                                }

                                            </ul>
                                            <div class="menuImage">
                                                <img src="http://mayflower.radiatordedicated.co.uk/media/1069/bostons-historic-market-place-small.jpg?anchor=center&mode=crop&width=670&height=510&rnd=131407836670000000" alt="Scrooby Manor House">
                                                <p class="caption">Scrooby Manor House</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                            else
                            {
                                <li><a href="/@page.Name">@page.Name</a></li>
                            }
                        }
                    }
                    

                 
                </ul>
                <div class="mobNav">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </div>
            </nav>

        </div>

    </div>
</header>