﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="popup loginPopup">
	
	<div class="loginForm">
		<div class="col">
			<h5>Log In</h5>

			<form action="#">
				<label>Email *</label>
				<input type="email" name="email">
				<label>Password</label>
				<input type="password" name="password">
				<button>Log In</button>
				<p class="forgotten">Forgotten Password?</p>
			</form>
		</div>

		<div class="col">
			<h5>Register</h5>

			<form action="#">
				<label>Name *</label>
				<input type="text" name="name">
				<label>Email *</label>
				<input type="email" name="email">
				<label>Password</label>
				<input type="password" name="password">
				<label>Company *</label>
				<input type="text" name="company">
				<label>How will you use the images? *</label>
				<textarea></textarea>
				<label><input type="checkbox" name="newsletter">Please keep me updated about Mayflower 400</label>
				<button>Log In</button>
			</form>
		</div>
	</div>

</div>